<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.BookMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.fc.entity.Book">
        <id column="b_id" jdbcType="INTEGER" property="bid"/>
        <result column="b_isbn" jdbcType="VARCHAR" property="bisbn"/>
        <result column="b_name" jdbcType="VARCHAR" property="bname"/>
        <result column="b_author" jdbcType="VARCHAR" property="bauthor"/>
        <result column="b_publisher" jdbcType="VARCHAR" property="bpublisher"/>
        <result column="b_cover" jdbcType="VARCHAR" property="bcover"/>
        <result column="b_image1" jdbcType="VARCHAR" property="bimage1"/>
        <result column="b_image2" jdbcType="VARCHAR" property="bimage2"/>
        <result column="b_price" jdbcType="REAL" property="bprice"/>
        <result column="bt_id" jdbcType="INTEGER" property="btid"/>
        <result column="b_stock" jdbcType="INTEGER" property="bstock"/>
        <result column="b_mark" jdbcType="VARCHAR" property="bmark"/>
        <!--此为图书类型表的字段-->
        <result column="bt_name" property="btname"/>
    </resultMap>

    <sql id="book">
        bid, bisbn,bname,bauthor,bpublisher,bcover,bimage1,bimage2,bprice,btid,bstock,bmark
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select book.*, booktype.bt_name
        from book
                 inner join booktype on book.bt_id = booktype.bt_id
    </select>
    <select id="findAllByRecommendType" resultMap="BaseResultMap">
        select book.*, booktype.bt_name
        from book
                 inner join recommend on book.b_id = recommend.b_id
                 inner join booktype on book.bt_id = booktype.bt_id
        where recommend.r_type = #{type}
    </select>
    <!--模糊查询-->

    <select id="search" resultMap="BaseResultMap">select book.*, booktype.bt_name from book inner join booktype on book.bt_id = booktype.bt_id where b_name like #{keyword} </select>

    <!-- 根据id查询-->


    <select id="findById" resultMap="BaseResultMap"> select book.*, booktype.bt_name from book inner join booktype on book.bt_id = booktype.bt_id where b_id = #{bid} </select>

    <!-- 根据图书类型查询 -->


    <select id="findAllByType" resultMap="BaseResultMap">select book.*, booktype.bt_name from book inner join booktype on book.bt_id = booktype.bt_id where book.bt_id = #{btid} </select>

    <!--查询全部-->


    <select id="findAll" resultMap="BaseResultMap">select book.*, b.bt_namefrom bookinner join booktype b on book.bt_id = b.bt_id </select>

    <select id="findById" resultMap="BaseResultMap">
        select book.*, booktype.bt_name
        from book
                 inner join booktype on book.bt_id = booktype.bt_id
        where b_id = #{id}
    </select>

    <insert id="insert">
        insert into book(b_isbn, b_name, b_author, b_publisher, b_cover, b_image1, b_image2, b_price, bt_id, b_stock,
                         b_mark)
            VALUE (#{bisbn}, #{bname}, #{bauthor}, #{bpublisher}, #{bcover}, #{bimage1}, #{bimage2}, #{bprice}, #{btid},
                   #{bstock}, #{bmark})
    </insert>

    <delete id="delete">
        delete from book where b_id = #{id}
    </delete>

    <update id="update">
        update book
        <set>
            <if test="bisbn != null">
                b_isbn = #{bisbn},
            </if>
            <if test="bname != null">
                b_name = #{bname},
            </if>
            <if test="bauthor != null">
                b_author = #{bauthor},
            </if>
            <if test="bpublisher != null">
                b_publisher = #{bpublisher},
            </if>
            <if test="bcover != null">
                b_cover = #{bcover},
            </if>
            <if test="bimage1 != null">
                b_image1 = #{bimage1},
            </if>
            <if test="bimage2 != null">
                b_image2 = #{bimage2},
            </if>
            <if test="bprice != null">
                b_price = #{bprice},
            </if>
            <if test="btid != null">
                bt_id = #{btid},
            </if>
            <if test="bstock != null">
                b_stock = #{bstock},
            </if>
            <if test="bmark != null">
                b_mark = #{bmark}
            </if>
        </set>
        where b_id = #{bid}
    </update>




</mapper>