<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.BookMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.fc.entity.Book">
        <id column="b_id" jdbcType="INTEGER" property="bid"/>
        <result column="b_isbn" jdbcType="VARCHAR" property="bisbn"/>
        <result column="b_name" jdbcType="VARCHAR" property="bname"/>
        <result column="b_author" jdbcType="VARCHAR" property="bauthor"/>
        <result column="b_publisher" jdbcType="VARCHAR" property="bpublisher"/>
        <result column="b_cover" jdbcType="VARCHAR" property="bcover"/>
        <result column="b_image1" jdbcType="VARCHAR" property="bimage1"/>
        <result column="b_image2" jdbcType="VARCHAR" property="bimage2"/>
        <result column="b_price" jdbcType="REAL" property="bprice"/>
        <result column="bt_id" jdbcType="INTEGER" property="btid"/>
        <result column="b_stock" jdbcType="INTEGER" property="bstock"/>
        <result column="b_mark" jdbcType="VARCHAR" property="bmark"/>
    </resultMap>
    <select id="findAllByRecommendType" resultMap="BaseResultMap">
        select book.*
        from book
                 inner join recommend on book.b_id = recommend.b_id
        where recommend.r_type = #{type}
    </select>
    <!--模糊查询-->

    <select id="search" resultMap="BaseResultMap">select book.*, booktype.bt_name from book inner join booktype on book.bt_id = booktype.bt_id where b_name like #{keyword} </select>

    <!-- 根据id查询-->


    <select id="findById" resultMap="BaseResultMap"> select book.*, booktype.bt_name from book inner join booktype on book.bt_id = booktype.bt_id where b_id = #{bid} </select>

    <!-- 根据图书类型查询 -->


    <select id="findAllByType" resultMap="BaseResultMap">select book.*, booktype.bt_name from book inner join booktype on book.bt_id = booktype.bt_id where book.bt_id = #{btid} </select>

    <!--查询全部-->


    <select id="findAll" resultMap="BaseResultMap">select book.*, b.bt_namefrom bookinner join booktype b on book.bt_id = b.bt_id </select>

</mapper>