<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.RecommendMapper">
    <cache-ref namespace="com.fc.dao.BookMapper"/>
    <resultMap id="BaseResultMap" type="com.fc.entity.Recommend">
        <id column="r_id" jdbcType="INTEGER" property="rid"/>
        <result column="r_type" jdbcType="INTEGER" property="rtype"/>
        <result column="b_id" jdbcType="INTEGER" property="bid"/>
    </resultMap>
    <select id="findAllByBookId" resultMap="BaseResultMap">
        select *
        from recommend
        where b_id = #{id}
    </select>

    <insert id="insert">
        insert into recommend(r_type, b_id) value (#{type}, #{id})
    </insert>

    <delete id="delete">
        delete
        from recommend
        where r_type = #{type}
          and b_id = #{id}
    </delete>
    <delete id="deleteAllByBookId">
        delete
        from recommend
        where b_id = #{id}
    </delete>
</mapper>