<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.UserMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.fc.entity.User">
        <id column="u_id" jdbcType="INTEGER" property="uid"/>
        <result column="u_name" jdbcType="VARCHAR" property="uname"/>
        <result column="u_pwd" jdbcType="VARCHAR" property="upwd"/>
        <result column="u_realname" jdbcType="VARCHAR" property="urealname"/>
        <result column="u_redgt" jdbcType="TIMESTAMP" property="uredgt"/>
        <result column="u_role" jdbcType="INTEGER" property="urole"/>
        <result column="u_mark" jdbcType="VARCHAR" property="umark"/>
        <result column="u_phone" jdbcType="VARCHAR" property="uphone"/>
        <result column="u_address" jdbcType="VARCHAR" property="uaddress"/>
    </resultMap>
    <sql id="userSql">uname,upwd,urealname,uredgt,urole,umark,
        uphone,uaddress
    </sql>
    <select id="findByUserName" resultMap="BaseResultMap">
        select *
        from user
        where u_name = #{uname}
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select *
        from user
        where u_id = #{uid}
    </select>

    <insert id="insert">
        insert into user(u_id, u_name, u_pwd, u_realname, u_redgt, u_role, u_mark, u_phone, u_address)
        values (#{uid}, #{uname}, #{upwd}, #{urealname}, #{uredgt}, #{urole}, #{umark}, #{uphone}, #{uaddress})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="uname != null">
                u_name = #{uname},
            </if>
            <if test="upwd != null">
                u_pwd = #{upwd},
            </if>
            <if test="urealname != null">
                u_realname = #{urealname},
            </if>
            <if test="uredgt != null">
                u_redgt = #{uredgt},
            </if>
            <if test="urole != null">
                u_role = #{urole},
            </if>
            <if test="umark != null">
                u_mark = #{umark},
            </if>
            <if test="uphone != null">
                u_phone = #{uphone},
            </if>
            <if test="uaddress != null">
                u_address = #{uaddress}
            </if>
        </set>
        where u_id = #{uid}
    </update>
</mapper>